html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splash {
  background-color: rgba(20, 114, 177, 1);
  background-image: url("/images/splash.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.menu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: black;
  font: bold 20px Arial;
}

.option {
  background-color: rgb(0, 140, 255);
  border-radius: 5px;
  border: 1px rgb(0, 140, 255);
  padding: 5px;
  display: table-cell;
  color: white;
  font: bold 20px Arial;
  height: 50px;
  min-width: 150px;
  vertical-align: middle;
  text-align: center;
}

.installoption {
  background-color: rgb(0, 140, 255);
  border-radius: 5px;
  border: 1px rgb(0, 140, 255);
  padding: 5px;
  display: none;
  color: white;
  font: bold 20px Arial;
  height: 50px;
  text-align: center;
  min-width: 150px;
  vertical-align: middle;
}

#loginlink {
  color: white;
  font: bold 20px Arial;
}

#headerimg {
  width: 50px;
}

#heading {
  margin-left: 5px;
  font: bold 26px arial;
  color: white;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 30px;
  line-height: 24px;
  border-radius: 0px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.1);
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.custom-popup .leaflet-popup-tip .leaflet-tooltip-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}

.leaflet-tooltip-own {
  margin-left: 5px;
  background-color: transparent;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: white;
  font: bold 20px Arial;
  position: absolute;
  padding: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.patternmarkers {
  margin-left: 5px;
  background-color: transparent;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: rgb(40, 67, 221);
  font: bold 16px Arial;
  position: absolute;
  padding: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.leaflet-container {
  background: rgb(34, 34, 34);
  outline: 0;
}

#message {
  position: absolute;
  background-color: rgb(0, 140, 255);
  border-radius: 5px;
  border: 1px rgb(0, 140, 255);
  padding: 10px;
  display: none;
  color: white;
  font: bold 20px Arial;
  width: 200px;
  vertical-align: center;
  left: calc(50% - 100px);
  top: calc(50% - 30px);
  text-align: center;
  z-index: 2;
}

#worksheet {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: none;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: #66b2ff;
  color: white;
  font: normal 20px arial;
  cursor: pointer;
}

#locationbuttons {
  bottom: 25px;
  position: absolute;
  left: 0;
  z-index: 0;
  display: block;
}

.uploads {
  margin-left: -300px;
  margin-top: -150px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: none;
  font: normal 18px Arial;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

form {
  font: normal 18px Arial;
}
